@font-face {
   font-family: 'GenJyuuGothic-Bold';
   font-display: swap;
   src: url('file:///C:/Users/User/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-11-01_132044/fonts/GenJyuuGothic-Bold/font.ttf');
}
